.reveal {
  opacity: 0;
  transition: all 0.6s ease;
}

.reveal.bottom {
  transform: translateY(30px);
}

.reveal.bottom.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal.top {
  transform: translateY(-30px);
}

.reveal.top.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal.left {
  transform: translateX(-30px);
}

.reveal.left.active {
  opacity: 1;
  transform: translateX(0);
}

.reveal.right {
  transform: translateX(30px);
}

.reveal.right.active {
  opacity: 1;
  transform: translateX(0);
}